@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);

}

*,
*:before,
*:after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 6rem;
    width: 100%;
}

.header h1 {
    /* font-size: clamp(1.2rem, 2.5vw + 1rem, 2.2rem); */
    /* letter-spacing: .124rem; */
    font-weight: 500;
    margin-bottom: 1rem;
}

.header h1,
.header p {
    color:var(--grayish-blue);
}

.header h1 span {
    display: block;
    color: black;
    font-weight: 900;
    color: var(--dark-blue);
}

.content-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    background-color: white;
    height: 280px;
    padding: 2rem;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    line-height: 1.8;
    max-width: 50ch;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: .3rem;
}

.card1::before {
    background-color: var(--cyan);
}

.card2::before {
    background-color: var(--red);
}

.card3::before {
    background-color: var(--orange);
}

.card4::before {
    background-color: var(--blue);
}

.card::after {
    position: absolute;
    bottom: 1.2rem;
    right: 1.5rem;
}

.card1::after {
    content: url(images/icon-supervisor.svg);
}

.card2::after {
    content: url(images/icon-team-builder.svg);
}

.card3::after {
    content: url(images/icon-karma.svg);
}

.card4::after {
    content: url(images/icon-calculator.svg);
}

.card h3 {
    color: var(--dark-blue);
}

.card p {
    color: var(--grayish-blue);
}

.middle{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width:600px) {

    .header{
        margin-bottom: 3rem;
        max-width: 55ch;
        line-height: 1.2;
    }

    .content-card {
        flex-direction: row;
        position: relative;
        align-items: center;
    }

    .card {
       max-width: 40ch;
    }

    .content-card > * {
        flex-basis: 100%;
    }
}